@font-face {
    font-family: 'Sarabun';
    font-weight: 400;
    src: url('../assets/Sarabun-Regular.ttf');
}
@font-face {
    font-family: 'Sarabun';
    font-weight: 500;
    src: url('../assets/Sarabun-ExtraBold.ttf');
}
