@font-face {
    font-family: 'Sarabun';
    font-weight: 400;
    src: url('../assets/fonts/Sarabun-Regular.ttf');
}
@font-face {
    font-family: 'Sarabun';
    font-weight: 700;
    src: url('../assets/fonts/Sarabun-Bold.ttf');
}
